*{
	font-family: verdana;
	font-size: 12pt;
	color: green;
}

QLabel {
    max-width: 8em;
	min-width: 8em;
}

QLabel#lblDim, QLabel#lblSpec {
	max-width: -1;
}

QLineEdit {
    max-width: 3em;
}

QLabel[cssClass="title"]{
	font-size: 1.35em;
	font-weight: bold;
}

QLabel::lblType{
	max-width: 75;
	min-width: -1;
}

QGraphicsView{
	min-width: 10em;
	min-height: 5em;
}
